$breakpoint-mobile: 768px;

.gallery-hero{
	background-image: url(../img/gallery-hero.jpg);
}
.gallery-section{
	background-color: red;
	color: #fff;
}
.gallery-wrapper{
	background-color: green;
}
.scroll{
	background-color: yellow;
}