/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@font-face {
  font-family: "Trade Gothic";
  		src: url("/fonts/TradeGothicLTStd.otf") format("otf"),
}
@font-face {
  font-family: "Gotham";
  		src: url("/fonts/Gotham-Ultra.otf") format("otf"),
}
$breakpoint-mobile: 480px;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	width: 100%;
	text-transform: uppercase;
	font-family: "din-condensed",sans-serif;
	letter-spacing: 3px;


}
.logo h1{
	font-family: "Gotham", sans-serif;
	font-weight: bold;
	font-size: 2rem;
	@media (max-width: $breakpoint-mobile) {
		font-size: 1.2rem;
	}
}
header{

	.top-menu{
		padding: 5%;
		width: 100%;
		background: #f7f7f7;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		.hamburger-section{
			// background-color: red;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			.hamburger{
				width: 32px;
				height: 32px;
			
				span{
					display: block;
					width: 90%;
					height: 2px;
					margin-bottom: 3px;
					background-color: #000;

				}
				#middle-span{
					margin-left: 10%;
				}
			}
				
			p{
				padding-left: 10px;
				text-transform: uppercase;
			}
		}
		.cart{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			img{
				width: 17px;
				height: 17px;
			}
		}
	}

	.bottom-menu{
		border-top: 1px solid #000;
		background-color: #fff;
		width: 100%;

		ul{
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 20px;
			a{
				text-decoration: none;
				color: #000;
			}
			li{
				display: flex;
				align-items: center;
				height: 20px;
				border-left: 1px solid #000;
				padding: 10px;


				&:nth-child(1){
					border-left: none;
				}
			}
		}
	}
}

.hero{
	width: 100%;
	background-color: red;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	
	@media (max-width: $breakpoint-mobile) {
		text-align: center;
	}

}
.bg{
	position: absolute;
	top: 212px;
	width: 100%;
	height: 300px;
	background-color: #000;
	opacity: .5;
	z-index: 2;
}
.wrapper{
	margin: 3% 4%;
	display: flex;
	flex-direction: column;
	@media (max-width: $breakpoint-mobile) {
		align-items: center;
	}
}

.recent-section{
	.recent-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}
	}
	.recent{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: $breakpoint-mobile) {
			// align-items: center;
			display: none;
			&.active{
				display: flex;
			}
		}
		div{
			display: flex;
			flex-direction: row;
		}
		.recent-image{
			width:350px;
			height:370px;
			background-repeat: no-repeat;
			background-size: cover;

		}
		.recent-image1{
			background-image: url(../img/furniture_index_top.jpg);
		}
		.recent-image2{
			background-image: url(../img/stools.jpg);
			background-position: center;
		}
		.recent-image3{
			background-image: url(../img/greencouch.jpg);
			background-position: center;
		}
	}
}

.featured-items{
	border-top: 1px solid #000;
	.featured-items-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}
	}
	.featureditem{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
		width: 557px;
		height: 664px;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		@media (max-width: $breakpoint-mobile) {
			width:350px;
			height:370px;
			align-items: center;
			display: none;
			&.active{
				display: flex;
			}
		}
	}
	.featureditem-1{
		background-image: url(../img/tr-denim-totebag-01.jpg);
		background-position: -400px;
	}
	.featureditem-2{
		background-image: url(../img/book.jpg);
		background-position: center;
	}
}

.latest-collection{
	border-top: 1px solid #000;
	.latest-collection-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}

	}
	.column{
		display: flex;
		width: 370px;
		flex-direction: column;
		justify-content: space-between;
		border-right: 1px solid #000;
		@media (max-width: $breakpoint-mobile) {
			width:350px;
			border: none;

		}
	}
	.column-three{
		border: none;
	}
	.collection{
		width: 100%;
		height: 370px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		// align-items: center;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		// padding: 10px;
		@media (max-width: $breakpoint-mobile) {
			display: none;
			&.active{
				display: flex;
			}
		}
	}
	.collection-1{
		background-image: url(../img/book.jpg);
		background-position: center;
	}
	.collection-2{
		background-image: url(../img/book.jpg);
		background-position: center;
	}
	.collection-3{
		height: 100%;
		background-image: url(../img/book.jpg);
		background-position: center;
	}
	.collection-4{
		background-image: url(../img/book.jpg);
		background-position: center;
	}
	.collection-5{
		background-image: url(../img/book.jpg);
		background-position: center;
	}
}

footer{
	background-color: green;
	display: flex;
	flex-direction: column;
	.top-footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: $breakpoint-mobile) {
			width: 100%;
		}
		.links-container{
			display: flex;
			flex-direction: column;
			div{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
		.mobile-links-container{
			width: 100%;
			display: flex;
			flex-direction: column;
			div{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
	.bottom-footer{
		border-top: 1px solid #fff;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: $breakpoint-mobile) {
			width: 100%;
			justify-content: center;

		}
	}
}



@media (max-width: $breakpoint-mobile) {
	.no-mobile{
		display: none;
	}
	#no-mobile{
		display: none;
	}
	
	.slider-dots{
		display: flex;
		flex-direction: row;
		justify-content: center;
		span{
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #000;
			margin-right: 5px;

		}
	}
}

@media (min-width: $breakpoint-mobile) {
	.no-desktop{
		display: none;
	}

	#no-desktop{
		display: none;
	}

	.slider-dots{
		display: none;
	}
}































