/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'products';
@import 'gallery';
@font-face {
  font-family: "TradeGothic";
  		src: url("../fonts/TradeGothicLTStd-Cn18.otf") format("otf"),
}
@font-face {
  font-family: "Gotham";
  		src: url("../fonts/Gotham-Ultra.otf") format("otf"),
}
$breakpoint-mobile: 1210px;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	width: 100%;
	text-transform: uppercase;
	font-family: "din-condensed",sans-serif;
	letter-spacing: 3px;


}
.logo h1{
	font-family: "Gotham", sans-serif;
	font-weight: 900;
	font-size: 2rem;
	cursor: pointer;
	a{
		text-decoration: none;
		color: #000;
	}
	@media (max-width: $breakpoint-mobile) {
		font-size: 1.2rem;
	}
}


header{
	nav{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		&.active{
			display: block;
		}
	}
	.top-menu{
		padding: 5%;
		width: 100%;
		background: #f7f7f7;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		.hamburger-section{
			//use this for all hamburger navs//
			//Watch This: https://www.youtube.com/watch?v=U17mz-RFfAY//
			.hamburger{
				position: absolute;
				z-index: 9999999;
				left: 5%;
				top: 7.5%;
				width: 60px;
				height: 60px;
				cursor: pointer;
				span{
					display: block;
					position: absolute;
					height: 3px;
					width: 30px;
					margin-bottom: 3px;
					background-color: #000;
					border-radius: 8px;
					// box-shadow: $box-shadow;
					top: 10px;
					left: 15px;
					transition: .5s;
				}
				span:before, span:after{
					content: '';
					display: block;
					position: absolute;
					height: 3px;
					width: 30px;
					margin-bottom: 3px;
					background-color: #000;
					border-radius: 8px;
					// box-shadow: $box-shadow;
					top: 10px;
					left: 0;
					transition: .5s;
					margin-left: 10px;

				}

				span:before{
					top: -10px;
				}
				span:after{
					top: 10px;
				}
				&.active span{
					background-color: rgba(0,0,0,0);
					box-shadow: 0 2px 5px rgba(0,0,0,0);
				}
				&.active span:before{
					top: 0;
					transform: rotate(45deg);
				}
				&.active span:after{
					top: 0;
					transform: rotate(135deg);
				}
			}

			
				
			p{
				text-transform: uppercase;
				position: absolute;
				left: 10%;
				top: 8%;
				&.active{
					visibility: hidden;
				}

			}
		}
		.cart{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			img{
				width: 17px;
				height: 17px;
			}
		}
	}

	.bottom-menu{
		border-top: 1px solid #000;
		background-color: #fff;
		width: 100%;

		ul{
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 20px;
			a{
				text-decoration: none;
				color: #000;
			}

			li{
				display: flex;
				align-items: center;
				height: 20px;
				border-left: 1px solid #000;
				padding: 10px;


				&:nth-child(1){
					border-left: none;
				}
			}
		}
	}
}
.home-hero{
	background-image: url(../img/hero.jpg);
}
.hero{
	width: 100%;
	background-color: red;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0px -96px 262px 159px rgba(0,0,0,0.35);
	h2{
		font-size: 1.8rem;
		padding-bottom: 10px;
		@media (max-width: $breakpoint-mobile) {
			font-size: 1.3rem;
		}
	}
	p{
		font-size: .9rem;
		font-weight: 100;
		line-height: 20px;
		padding-bottom: 20px;
	}

	a{
		display: block;
		width: 100px;
		height: 30px;
		background-color: #fff;
		color: #000;
		font-size: .7rem;
		padding: 10px 0 0 0;
		text-align: center;
		text-decoration: none;
		transition: .3s;
		&:hover{
			background-color: #000;
			color: #fff;
		}
	}
	@media (max-width: $breakpoint-mobile) {
		text-align: center;
	}

}

.wrapper{
	padding: 3% 4%;
	display: flex;
	flex-direction: column;
	@media (max-width: $breakpoint-mobile) {
		align-items: center;
	}
}

.recent-section{
	h2{
		margin-bottom: 20px;
	}
	.recent-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}
	}
	.recent{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span{
			text-decoration: underline;
		}
		a{
			text-decoration: none;
			color: #000;
			font-size: .9rem;
		}

		@media (max-width: $breakpoint-mobile) {
			// align-items: center;
			display: none;
			&.active{
				display: flex;
			}
		}
		h3{
			margin: 10px 0;
		}
		div{
			display: flex;
			flex-direction: row;
		}
		.recent-image{
			width:350px;
			height:370px;
			background-repeat: no-repeat;
			background-size: cover;

		}
		.recent-image1{
			background-image: url(../img/furniture_index_top.jpg);
		}
		.recent-image2{
			background-image: url(../img/stools.jpg);
			background-position: center;
		}
		.recent-image3{
			background-image: url(../img/greencouch.jpg);
			background-position: center;
		}
	}
}

.featured-items{
	border-top: 1px solid #000;
	margin: 20px 0;
	h2{
		margin: 20px 0;
	}
	.featured-items-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}
	}
	.featureditem{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
		width: 557px;
		height: 664px;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0px -275px 148px -42px rgba(0,0,0,0.83);
		color: #fff;
		padding: 70px;
		h3{
			font-size: 1.5rem;
			padding-bottom: 10px;
		}
		p{
			font-size: 1rem;
			font-weight: 100;
			line-height: 30px;
			line-height: 18px;
			letter-spacing: 2.5px;
			padding-bottom: 20px;

		}
		a{
			display: block;
			width: 100px;
			height: 30px;
			background-color: #fff;
			color: #000;
			font-size: .7rem;
			padding: 10px 0 0 0;
			text-align: center;
			text-decoration: none;
			transition: .3s;
			&:hover{
				background-color: #000;
				color: #fff;
			}
		}
		@media (max-width: $breakpoint-mobile) {
			width:350px;
			height:370px;
			align-items: center;
			display: none;
			&.active{
				display: flex;
			}
		}
	}
	.featureditem-1{
		background-image: url(../img/tr-denim-totebag-01.jpg);
		background-position: -400px;
		@media (max-width: $breakpoint-mobile) {
			background-position: center;
		}
	}
	.featureditem-2{
		background-image: url(../img/book.jpg);
		background-position: center;
	}
}

.latest-collection{
	border-top: 1px solid #000;
	margin: 20px 0;
	h2{
		margin: 20px 0;
	}
	.latest-collection-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #fff;

		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}

	}
	.column{
		display: flex;
		width: 370px;
		flex-direction: column;
		justify-content: space-between;
		// border-right: 1px solid #000;
		@media (max-width: $breakpoint-mobile) {
			width:350px;

		}
	}
	.line{
		width: 1px;
		background-color: #ccc;
	}
	
	.column-three{
		border: none;
	}
	.collection{
		width: 100%;
		height: 370px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0px -200px 0px 200px rgba(0,0,0,0.48);
		padding: 40px;

		h3{
			font-size: 1.5em;
			font-weight: 200;
			padding-bottom: 10px;
		}
		p{
			padding-bottom: 10px;
			line-height: 18px;
			letter-spacing: 2.5px;



		}
		p,a{
			font-size: .9rem;
			font-weight: 100;
			color: #fff;

		}
		

		@media (max-width: $breakpoint-mobile) {
			width:350px;
			height:370px;
			align-items: center;
			display: none;
			&.active{
				display: flex;
			}
		}
	}
	.collection-1, .collection-4{
		margin-bottom: 20px;
		@media (max-width: $breakpoint-mobile) {
			margin-bottom: 0px;
		}

	}
	.collection-1{
		background-image: url(../img/truckxuniqlo.jpg);
		background-position: center;
	}
	.collection-2{
		background-image: url(../img/greencouch.jpg);
		background-position: center;
	}
	.collection-3{
		height: 100%;
		background-image: url(../img/theinheritance.jpg);
		background-position: center ;

	 	@media (max-width: $breakpoint-mobile) {
			height:370px;
	 	}
	}
	.collection-4{
		background-image: url(../img/bowline.jpg);
		background-position: center;
	}
	.collection-5{
		background-image: url(../img/newark.jpg);
		background-position: center;
	}
}

footer{
	background-color: #000;
	display: flex;
	flex-direction: column;
	color: #fff;

	a{
		color:#fff;
		text-decoration: none;
	}

	.top-footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 30px;
		@media (max-width: $breakpoint-mobile) {
			width: 100%;
		}
		.links-container{
			display: flex;
			flex-direction: column;
			width: 300px;
			div{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 15px;

			}
		}
		.mobile-links-container{
			width: 100%;
			display: flex;
			flex-direction: column;
			line-height: 50px;

			div{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
	.bottom-footer{
		border-top: 3px solid #fff;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 0;
		@media (max-width: $breakpoint-mobile) {
			width: 100%;
			justify-content: center;
			font-weight: 200;

		}
	}
	i{
		color:#fff;
	}
	input{
		border: 1px solid #fff;
		background-color: #000;
		height: 30px;
		width:200px;
	}
	input[placeholder]{
		font-family: 'din-condensed', sans-serif;
		padding-left: 10px;
	}

	.email-container{ 
		p{
			margin-bottom: 20px;
		}
		div{
			display: flex;
			flex-direction: row;
		}
		a{
			background-color: #fff;
			font-family: 'din-condensed', sans-serif;
			height: 20px;
			width:75px;
			border-radius: 0px;
			display: block;
			width: 100px;
			height: 30px;
			background-color: #fff;
			color: #000;
			font-size: .7rem;
			padding: 10px 0 0 0;
			text-align: center;
			text-decoration: none;
		}
	}
}



@media (max-width: $breakpoint-mobile) {
	.no-mobile{
		display: none;
	}
	#no-mobile{
		display: none;
	}
	
	.slider-dots{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 20px;
		span{
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #ccc;
			margin-right: 5px;
			&.active{
				background-color: #000;
			}
		}
		
	}

}

@media (min-width: $breakpoint-mobile) {
	.no-desktop{
		display: none;
	}

	#no-desktop{
		display: none;
	}

	.slider-dots{
		display: none;
	}

}































